<div class="page-header">
  <h3 class="page-title pb-3">Image List</h3>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><button class="btn btn-outline-success d-none" type="button">View</button></li>
    </ol>
  </nav>
</div>
<div class="row">
  <div class="col-12">
    <h6 class="text-warning">( The maximum limit of students is 35 in a Batch )</h6>
    <div class="card">
      <div class="card-body">
        <form [formGroup]="batchform" (ngSubmit)="onSubmit()" class="mb-4">
          <div class="row">
            <div class="col-sm-6">
              <select formControlName="batch_type" class="form-control">
                <option value="">Select Batch</option>
                <option [value]="batch?.batch_type" *ngFor="let batch of batchlist">{{batch.batch_type}}</option>
              </select>
            </div>
            <div class="col-sm-6">
              <input
                type="text"
                id="batch"
                formControlName="username"
                placeholder="Enter the Name"
                required
                class="form-control"
              />
            </div>
          </div>
        </form>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <td width="70">S.No</td>
                <td>Name</td>
                <td>Batch Name</td>
                <td>Photo 1</td>
                <td>Photo 2</td>
                <td>Photo 3</td>
                <td>Photo 4</td>
                <td>Photo 5</td>
                <td width="80">Action</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let student of studentInfo | filter:batchform.value.username; let i=index;">
                <td align="center">{{i+1}}</td>
                <td>
                  <div class="mb-1">{{student?.name | titlecase}}</div>
                  <small>{{student?.date | date:'dd/MM/yyyy'}}</small>
                </td>
                <td>{{student?.adhaar}}</td>
                <td class="p-1"><app-imagedisplay [imageData]="parse(student?.photo1)?.photo1"></app-imagedisplay></td>
                <td class="p-1"><app-imagedisplay [imageData]="parse(student?.photo2)?.photo2"></app-imagedisplay></td>
                <td class="p-1"><app-imagedisplay [imageData]="parse(student?.photo3)?.photo3"></app-imagedisplay></td>
                <td class="p-1"><app-imagedisplay [imageData]="parse(student?.photo4)?.photo4"></app-imagedisplay></td>
                <td class="p-1"><app-imagedisplay [imageData]="parse(student?.photo5)?.photo5"></app-imagedisplay></td>
                <td align="center">
                  <span style="cursor:pointer;font-size: 30px;" *ngIf="calculateDay(student?.date) <=15" (click)="deleteStudent(student?.uid)">
                  <i class="mdi mdi-delete"></i></span>
                  <span style="cursor:pointer;font-size: 30px;" *ngIf="calculateDay(student?.date) >15">--</span>
                  </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>