<div class="usermain">
    <header>
      <div>Batch List</div>
      <div class="allbtn">
        <button (click)="showForm = true">Add batch</button>
        <button (click)="showForm = false">batch List</button>
      </div>
    </header>
    <!-- batchForm -->
    <form [formGroup]="batchform" *ngIf="showForm" (ngSubmit)="onSubmit()">
      <div>
        <section>
          <label for="user">User Name</label>
          <select formControlName="username">
            <option value="">Select</option>
            <option [value]="user?.email" *ngFor="let user of listuser">{{user.email}}</option>
          </select>
        </section>
        <section>
          <label for="batch">Batch Name</label>
          <input
            type="text"
            id="batch"
            formControlName="batch_type"
            required
          />
        </section>
        </div>
      <div>
        <button type="submit">Submit</button>
        <input (click)="showForm=false" type="cancel" value="Cancel"/>
      </div>
    </form>
  
    <table class="rounded-table">
      <thead>
        <tr>
          <td>ID</td>
          <td>Batch Name</td>
          <td>Admin Name</td>
          <td>User Name</td>
          <td>Student</td>
          <td>Status</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let batch of batchlist"><td>{{batch?.id}}</td>
        <td>{{batch?.batch_type | titlecase}}</td>
        <td>{{batch?.adminName?batch?.adminName:'Naveen'}}</td>
        <td>{{batch?.batchname }}</td>
        <td>{{batch?.student}}</td>
        <td>{{batch?.status?batch?.status:'Active'}}</td>
        <td></td></tr>
      </tbody>
    </table>
  </div>
  